
.donantes-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 20px;
  /* justify-content: flex-start; */
  flex-wrap: wrap
}
.user-info p{
  color: black;
}
.user-info {
  width: 300px;
  margin: 10px;
}

.filters-container{
  display: flex;
  gap: 20px;
  width: 800px;
  background-color: rgb(255, 255, 255);
}

/* Nombre de los donantes/receptores */
.userName{
  font-size: 24px;
  font-weight:500;
  color: black;
}

.nombre{
  color: black;
  font-size: 20px;
}

.donantes-item {
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  background-color: rgb(255, 255, 255);
  border: 2px solid black;
}
.donantes-item:hover {
  /* Aumeta el tamaño a un 105% */
  transform: scale(1.05); 
  opacity: 0.8; 
}

.listas{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  
}

.tituloListas{
  text-align: center;
  font-size: 25px;
}

