.donantes-container {
  max-width: 600px;
  margin: auto;
  /* padding: 20px; */
}
/* .donantes-container{
  display: flex;
  max-width: 800px;
  padding: 20px;
} */
.donantes-list {
  list-style: none;
  padding: 0;
  /* text-align: center; */
}

.donantes-item {
  margin-bottom: 20px;
}

.user-info {
  border: 1px solid #ccc;
  padding: 10px;
}

.ubicacion {
  margin-top: 10px;
}

.donantesContainer{
  padding: 20px;
  gap: 20px;
}

.filters-container{
  display: flex;
  margin: 10px;
}