.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-field {
  margin-bottom: 20px;
}

.login{
  padding: 10px;
  text-align: center;
}

.errorMessage {
  /* background-color: #f2dede; */
  color: #980d0b;
  /* padding: 10px; */
}
