/* Perfil.css */
.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 10px;
  margin-top: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-bottom: 30px; */
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

li {
  list-style: none;
  margin: 5px 0;
  color: #555;
}

.ubicacion {
  margin: 5px 0;
}

.ubicacion p {
  margin: 5px 0;
  color: #777;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #2d353d;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  text-decoration: none; /* To remove underline from link */
}

.button:hover {
  background-color: #465059;
}

.button a {
  text-decoration: none; 
  color: white; 
}
